:root{
    --boardBackgroundColor: rgba(151, 255, 151);
    --shadeColor: rgba(0, 0, 0, 0.275);
}

#boardTab{
    background-color: var(--boardBackgroundColor);
    padding: 5px 7px;

    padding-bottom: 10px;

    display: grid;
    grid-template-columns: max-content auto;

    width: 70%;
    height: 40%;
    margin-bottom: 10%;
    overflow: hidden;
}
#boardTabLeft{
    white-space: nowrap;
    display: flex;
    overflow: hidden;
}
.boardTabCollapse::before{
    content: "[";
}
.boardTabCollapse::after{
    content: "]";
}
#boardTabContConstraint{
    overflow: hidden;
}
#boardTabCont{
    padding: 0px 10px;
    border-right: 3px black solid;
    display: flex;
    align-content: space-between;
    text-align: end;
    height: 100%;
    align-items: flex-end;
}
#boardTabBoardCont{
    overflow-y: auto;
    margin-bottom: 17px;
}
#boardTabMiscCont{
    overflow-y: auto;
}

.boardTabItem{
    padding: 2px 7px;
    border: 1px black solid;
    border-left: 3px black solid;
    margin-top: 3px
}
.boardTabItem:hover{
    border-left: 7px black solid;
    background-color: var(--shadeColor);
}

#boardTabRight{
    padding: 0px 13px;   
    overflow-y: auto;
}
#boardPreviewCont{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.boardTabHeader{
    font-weight: bold;
    font-size: 1.3rem;
}
#webTabButton{
    margin: 7px 0px;
    color: white;
    border: 1px black solid;
    text-align: center;
    background-color: rgb(60 121 255);;
}

#webTabButton:hover{
    background-color: rgb(0, 81, 255);;
}

#boardPreviewBodyCont{
    text-align: center;
    height: 100%;

    overflow: hidden;
    justify-content: space-between;
    display: grid;
    grid-template-rows: 20% 65% max-content;
    grid-template-columns: 100%;
    align-content: space-between;
}

#webTabButton{
    height: fit-content;
}
#boardImageHeader{
    font-size: xx-large;
    word-break: break-all;
    font-weight: bold;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: color-burn;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-bottom-width: 7px;
}

#boardPreviewDescCont{
    height: 100%;
    overflow-y: auto;
}
#boardPreviewDesc{
    padding-top: 13px;   
}

#latestImagePostCont{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
}
.latestImagePostCont{
    width: 100%;
}
.latestImageCont{
    width: 100%;
}
.latestImage{
    width: 100%;
}

#latestMessagePostCont{
    display: grid;
}
.latestMessagePost{
    display: grid;
}
.latestMessagePost:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.latestMessageHeader{
    white-space: nowrap;
    margin-right: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.latestMessageCont{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    margin-left: 3px;
}
.latestMessageContText{
    margin-top: 3px;
}

/* guide */
.promptCont{
    display: grid;
    grid-auto-rows: max-content auto max-content;
    height: 100%;
}
.guideDoNotShowCont{
    display: flex;
    justify-content: flex-end;
}
.guideDoNotShowCont > div{
    margin-left: 5px;
}
.absoluteGuideContent{
    height: 100%;
    overflow-y: auto;
    padding-right: 2px;
}
.helpTextItemCont{
    margin: 3px 0px;
}
.helpTextItemTitle{
    border: 1px black solid;
    padding: 1px 3px;

    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #ffff6c;
}
.helpTextItemBody{
    padding: 3px 5px;
    margin-left: 3px;
    margin-bottom: 3px;
}

#settingCont{
    display: grid;
    grid-template-columns: 50% 50%;
}
.settingItemCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.settingOptionCont{
    display: flex;
    align-items: center;
}
.settingOptionText{
    font-weight: bold;
    margin-right: 7px;
}
.settingOptionButtonSmol{
    border: 1px black solid;
    padding: 1px 3px;
    background-color: white;
}


.boardTabBoardListCont{
    display: grid;
}

@media screen and (max-width: 768px){
    #boardTab{
        width: 95%;
    }
    #boardTabLeft{
        font-size: 0.85rem;
    }
    #boardTabRight{
        font-size: 0.8rem;
        padding: 0px 7px
    }
    #boardTabCont{
        padding: 0px 3px;
    }
    #latestImagePostCont{
        grid-template-columns: auto;
    }
    #settingCont{
        font-size: 1rem;
        grid-template-columns: auto;
    }
}