:root{
    --boardBackgroundColor: rgba(151, 255, 151, 0.8);
    --shadeColor: rgba(0, 0, 0, 0.275);
}

#boardTab{
    background-color: var(--boardBackgroundColor);
    padding: 5px 7px;

    white-space: nowrap;
    padding-bottom: 10px;
}

.boardTabCollapse::before{
    content: "[";
}
.boardTabCollapse::after{
    content: "]";
}
#boardTabCont{
    padding-left: 10px;
}
.boardTabItem{
    padding: 2px 7px;
}
.boardTabItem:hover{
    background-color: var(--shadeColor);
    text-decoration: underline;
}