:root{
    --codeBackgroundColor: black;
    --codeTextColor: lime;
}

.message_code{
    background-color: var(--codeBackgroundColor);
    color: var(--codeTextColor);
    white-space: pre;
    font-size: 0.8rem;
    overflow-x: auto;
    margin-bottom: 5px;
    padding-bottom: 3px;
}
.message_bd{font-weight: bold;}
.message_it{font-style: italic;}
.message_strike{text-decoration:line-through;}
.message_sm{font-size: 12px;}
.message_bg{font-size: 36px;}