#absolutePromptCont{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2000;
    
}
.absolutePrompt{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);

    display: grid;
    align-items: center;
    justify-items: center;
}
.absolutePrompt > div{
    border: 1px black solid;
    padding: 7px;
}
.errorPromptBoxCont{
    background-color: rgb(255, 68, 68);
    margin-bottom: 30%;
    width: 60%;
}
.absoluteTitle{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

/* guide */
.guidePromptCont{
    background-color: rgb(121, 255, 121);
    height: 90%;
    width: 75%;

    display: grid;
    grid-auto-rows: max-content auto max-content;
}
.guideDoNotShowCont{
    display: flex;
    justify-content: flex-end;
}
.guideDoNotShowCont > div{
    margin-left: 5px;
}

