#userProfileCont{
    display: flex;
    justify-content: center;
    margin-bottom: 13px;

    position: relative;
    background-color: var(--tabColor);
}
#userProfilePic{
    width: calc(var(--sidebarWidth) - 8px);
    height: auto;
    border-radius: 50%;
}
#userProfileExpanded{
    position: relative;
}
#userProfileInfoCont{
    background-color: var(--tabColor);
    position: absolute;

    padding: 3px 13px;
    bottom: 0px;

    height: 100px;
    border-radius: 5px;
}
