:root{
  --backgroundColor: rgba(0, 0, 0, 0.575);
  --sidebarWidth: 40px;

  --scrollColor:  rgba(0, 0, 0, 0.7 );
  --scrollBKGcolor: rgba(255, 255, 255, 0.7);
  --scrollBorder: 1px rgba(58, 58, 58, 0.5) solid;

  --scrollColorHover:  rgb(0, 0, 0);

  scrollbar-color: var(--scrollColor) var(--scrollBKGcolor);
  scrollbar-width: thin;

  font-size: 16px;
}
:root::-webkit-scrollbar, ::-webkit-scrollbar{
  background-color: var(--scrollBKGcolor);
  width: 7px;
  border: 1px black solid;
}

:root::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
  background-color: var(--scrollColor);
  border-top: var(--scrollBorder);
  border-bottom: var(--scrollBorder);
  border: 1px black solid;
}
:root::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover{
  background-color: var(--scrollColorHover);
}

body, textarea, input{
  font-family: 'VT323', monospace;
  font-size: 1rem;
}

.App{
  display: grid;
  height: 100dvh;
  width: 100vw;
  background-color: rgb(189, 189, 189);
  overflow: hidden;
}
#AppMainContent{
  /*
  margin-left: var(--sidebarWidth);
  */
  height: 100vh;
  height: 100dvh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@media screen and (max-width: 768px){
  :root::-webkit-scrollbar, ::-webkit-scrollbar{
    width: 5px;
  }
}