:root{
    --thumbPerRow: 2;
    --thumbPadding: 3px 7px;
    --mainShadeTab: rgba(0, 0, 0, 0.25);

    --thumbImageBorderBottom: 5px;

    --activeThreadDisplaySize: min(80%,700px);

    --threadMiscContColor: rgba(159, 255, 159, 0.4);
    --activeThreadColor: #eaff9c;

    --upperTabColor: rgba(0, 128, 0, 0.3);
    --upperTabColorHover: rgba(0, 128, 0, 0.7);

    --threadMainPageColor: #687eb1;
    --flagBanner: 9px rgba(255, 0, 0, 0.8) solid;
}

#threadViewEncap{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.threadViewCont{
    position: relative;
    overflow: auto;
    height: 100%;
}
.threadCont{
    display: grid;
    grid-template-columns: repeat(var(--thumbPerRow),1fr);
    /*
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    */
    justify-items: center;

    padding: 9px;
    padding-top: 14px;
    padding-bottom: 21px;
}
.threadCont > div {
    margin: 3px;
}

.threadThumbNail{
    width: 95%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: max-content auto;
    overflow: hidden;
    position: relative;
    border: 2px var(--threadMainPageColor) solid;
}
.threadThumbNail:hover{
    border: 2px black solid;
}
.threadTitle{
    background-color: rgba(0, 0, 0, 0.3);
    padding: var(--thumbPadding);
    padding-bottom: 1px;
    overflow: hidden;
    max-height: 40px;

    position: relative;
}
.threadTitleText{
    font-weight: bold;
    color: #e6e7ea;
}
.threadBodyCont{
    position: relative;
    margin: var(--thumbPadding);    
    overflow-y: auto;
    overflow-x: hidden;
    color: #e6e7ea;
    display: grid;
    grid-template-rows: 0 60% auto;
}
.threadImgCont{
    width: 100%;
    height: calc(-1 * var(--thumbImageBorderBottom) + 100% - 3px);
    text-align: center;
}
.threadImg{
    border: 1px black solid;
    border-bottom: var(--thumbImageBorderBottom) black solid;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
}
.threadMiscInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9rem;
    background-color: var(--threadMiscContColor);
    border-top: 1px black solid;
    border-right: 1px black solid;
    padding: 0px 3px;

    /* inorder for animation to work, you need to set the height */
    height: 1rem;
    transition: height 1s;
}
.threadThumbNail:hover > .threadMiscInfo{
    height: 0px;
    border: 0px;
}
.threadPermCont{
    position: sticky;
    top: 0;
}
.threadPermInfo{
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    padding-top: 3px;

    display: grid;
}

#activeThreadDisplay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    padding-top: 3%;
    z-index: 2;
}
/*
scroll must be set to activeThreadCont and not constraint
constraint. if constraint is set to height 100%, it creates
the problem that clicks will not register as close bc touches
empty space too
*/
#activeThreadCont{
    width: var(--activeThreadDisplaySize);
    height: 90%;
    overflow: auto;
}
#activeThreadTopBar{
    background-color: var(--activeThreadColor);
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    z-index: 3;
}
#activeThreadTitle{
    padding: 3px 3px 0px 7px;
}
.activeThreadOptionCont{
    padding-right: 3px;

    position: absolute;
    right: 0px;
    top:0px;
    height: 100%;
    z-index: 3;

}
.activeThreadFlagOff,.activeThreadFlagOn{
    box-shadow: 0px -10px 0px 0px rgba(255, 0, 0, 0.8);
    border-left: var(--flagBanner);
    border-right: var(--flagBanner);
    border-bottom: 6px transparent solid;

    transition: height 0.1s linear;
}
.activeThreadFlagOff{
    height: 20%;
}
.activeThreadFlagOff:hover{
    height: 40%;
}
.activeThreadFlagOn{
    height: 150%;
}
.activeThreadFlagOn:hover{
    height: 130%;
}
.activeThreadContentDisplayer{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    background-color: var(--activeThreadColor);
    padding: 3px 3px;
}
.activeThreadBody{
    display: grid;
    grid-template-columns: 20% auto;
}
.messageInfo{
    display: flex;
    justify-content: space-between;
    margin: 3px 0px 3px 2px;
}
.messageInfoRightCont{
    display: flex;
}
.messageInfoRight{
    display: flex;
    text-decoration: underline;
}
.messageOwnerBoxCont{
    padding-right: 11px;
}
.messageOwnerBox{
    border: 1px black solid;
    padding: 0px 4px;
}

.messageOpt{
    margin-left: 3px;
    position: relative;
    font-weight: bold;
}
.messageOption{
    text-decoration: none;
}
.expandedOptCloseController{
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    top:0;
    left:0;
}
.expandedOpt{
    font-weight: normal;
    border: 1px black solid;
    padding: 3px 5px;

    position: absolute;
    right: 0.5rem;
    background: white;
    top: 0;
}
.expandedOptHeading{
    text-align: left;
    margin-right: 21px;
}
.expandedOptClose{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.expandedOptClose > div{
    border: 1px black solid;
    width: fit-content;
    margin-bottom: 2px;
    padding: 0px 5px;
}
.expandedOptClose > div:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.messageId{
    margin-right: 7px;
}
.messageTime{

}

.imageContentDisplayer{
    width: 100%;
}
.imageContentDisplayer img{
    width: 100%;
}
.noDisplayImageCont{
    display: none;
}

.textContentDisplayer{
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-word;
}
.textContentParagraphSplit{
    margin-bottom: 2px;
    word-break: break-word;
}
.textContentColorChange{
    color: rgb(255, 116, 243);
}
.userReferenceTextContent{
    text-decoration: underline;
    color: rgb(40, 40, 255);
}
.userReferenceTextContent:hover{
    color: rgb(117, 39, 212);
}
/* */
#mainContent{
    height: calc(100% - 7px);
    margin-top: 7px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
#mainContentDisplayer{
    background-color: var(--threadMainPageColor);
    border-top: 1px black solid;
    height: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#menuCont{
    color: white;

    background-color: rgb(101, 99, 122);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border-top: 1px black solid;
    padding: 3px 5px;

    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);

    display: flex;
    justify-content: space-between;
}
#threadSearchInput{
    background-color: transparent;
    border: 0px black solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    border-radius: 0px;
    outline: none;
    padding: 0px 3px;
    color: white;

    width: 50%;
    transition: width 0.5s;
}
#threadSearchInput:focus{
    width: 100%;
}

#menuCont > div{
    margin-right: 3px;
    display: flex;
    align-items: center
}
#menuLeftCont{
    justify-content: flex-end;
}
#mainContentTabs{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
#mainContentTabs_left{
    display: flex;
    position: relative;
}
#mainContentTabs_right{
    display: flex;

}
#mainContentTabs_left > div, #mainContentTabs_right > div {
    background-color: var(--upperTabColor);
    border: 1px black solid;
    border-bottom-width: 0px;
    padding: 0px 7px 0px 7px;
    margin-right: 3px;
}
#mainContentTabs_left > div:hover, #mainContentTabs_right > div:hover {
    background-color: var(--upperTabColorHover);
}
/* */
#GUIcont{
    position: absolute;
    height: 100%;
    width: 100%;
}
#bottomRightGuiCont{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: fit-content;
    z-index: 100;
}
#bottomRightGuiCont div{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 3px;
}
#PageControlGuiCont{
    position: absolute;
    top: -10px;
    background-color: red;
    margin-bottom: 12px;
}
.PageGuiButton{
    height: 1.2rem;
    width: 1.2rem;
    display: grid;
}

#addMessageButton{
    font-size: 4rem;
    font-weight: bolder;
    width: 80px;
    height: 80px;

    background-color: red;
}

#addMessageButton::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    transition: left 500ms, top 500ms, width 2s, height 2s;
    
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}
#addMessageButton:hover::before{
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 5px solid rgb(255, 118, 118);
    border-left: 5px solid rgb(255, 118, 118);
}
#newPromptCont{
    position: relative;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: grid;
    align-items: end;
    justify-items: center;
}
.newPrompt{
    position: relative;
    width: calc(var(--activeThreadDisplaySize) + 6%);
    height: 50%;
    margin-bottom: 2%;

    display: grid;
    grid-template-rows: min-content auto;
    overflow: hidden;
}

.promptTitle{
    width: fit-content;
    background-color: white;
    padding: 3px 13px 3px 7px;
}
.promptTitleCont{
    display: flex;
    width: 100%;
    align-items: center;
}
.promptBodyPaddingCont{
    padding: 7px;
    background-color: white;
    overflow: hidden;
}
.promptBody{
    text-align: center;
    background-color: white;
    display: grid;
    justify-items: center;

    height: 100%;
}
#newThreadPrompt .promptBody{
    grid-template-rows: max-content auto 20%;
}
#newMessagePrompt  .promptBody{
    grid-template-rows: 80% 20%;
    align-content: space-between;
}

.promptBody input, textarea{
    border: 0px;
    border-bottom: 2px black solid;
    background-color: #80808027;
    border-radius: 0px;
    font-size: var(--fontSize);
}
.promptBody input:focus, textarea:focus{
    outline: none;
    outline: 1px black solid;
}
.promptBody input{
    width: 98%;
    margin-bottom: 3px;
    
}
.promptBody textarea{
    resize: vertical;
    width: 100%;
    height: 100%;
    padding: 0;
}
.textAreaCont{
    width: 100%;
    position: relative;
    margin-top: 3px;
}
#promptSubmitCont{
    background-color: white;
    margin-top: 5px;
    
    width: 100%;
    overflow: hidden;
}
#promptOptCont{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
}
#promptOptionList{
    display: flex;
    margin-left: 7px;

    align-items: center;
}
#promptAddImageHeading{
    margin: 0px 7px;
    height: fit-content;
}
.promptOption{
    height: 100%;
}

#image_buttonPlaceHolder{
    white-space: nowrap;

    display: flex;
    height: 100%;
    align-items: flex-end;
}
#imageAddChangeButton{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    border: 1px black solid;
}
/* #imageAddChangeButton:hover > #uploadDummyImage, #imageAddChangeButton:hover > #uploadedImageIcon{ */
#imageAddChangeButton:hover{
    --hoverColor: rgba(0, 0, 0, 0.3);
    background-color: var(--hoverColor);
}
.imageSuggestText{
    writing-mode: tb-rl;
    transform: rotateZ(180deg);
    font-size: 0.7rem;
}
#promptSubmitButtonCont{
    display: flex;
    justify-content: flex-end;
    margin: 3px;

    position: absolute;
    right: 7px;
    bottom: 7px;
}
#promptSubmitButtonCont > div{
    padding: 1px 7px;
    border: 1px black solid;
}
#promptSubmitButtonCont > div:hover{
    background-color: var(--mainShadeTab);
    width: fit-content;
}
#showBoard{
    position: relative;
}
#boardExpandedCont{
    position: absolute;
    z-index: 1000;
    left: 0px;
}
#uploadedImageIconCont{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#uploadedImageIcon{
    max-width: 100%;
    max-height: 95%;
    /* matches with uploadDummyImage*/
    padding-right: 3px;
}
#uploadedImageIcon, #uploadDummyImage{
    width: auto;
}
#uploadDummyImage{
    height: 90%;
    width: 20px;
    border: 2px black dashed;

    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    
    /* matches with uploadedImageIcon*/
    margin-right: 3px;
}
#image_buttonRemoveFileButton{
    padding-left: 3px;
    border: 1px black solid;
    border-left: 0px;
    background-color: #ff9393;
}
#image_buttonRemoveFileButton:hover{
    padding-left: 9px;
}

#emptyBoardList{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}

.threadThumbNail, .messageOptPointerText, .activeThreadFlagOff, .activeThreadFlagOn, 
#mainContentTabPointerText,.boardPreviewCont, .boardTabItem,#addMessageButton,
#promptSubmit, #image_buttonPlaceHolder,#userProfilePointerText, #userLoginButtonCont > div,
.expandedOptClose > div, .profileButton{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .newPrompt{
        width: 95%;
    }    
    input, textarea{
        font-size: 1.1rem;
    }
    #threadSearchInput{
        width: 30%;
    }
    #threadSearchInput:focus{
        width: 60%;
    }
    #uploadDummyImage{
        font-size: 0.7rem;
    }
    .newPrompt{
        margin-bottom: 5%;
    }
}
