:root{
    --sizeOfThumbNail: 200px;
    --thumbPadding: 3px 7px;
    --mainShadeTab: rgba(0, 0, 0, 0.25);
}

.sliderStyle{
    height: 3px;
    width: 50px;
}
.sliderStyle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 10x;
    background: #04AA6D;
    cursor: pointer;
}
  
.sliderStyle::-moz-range-thumb {
    width: 15px;
    height: 10px;
    background: #04AA6D;
    cursor: pointer;
}

#threadViewEncap{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.threadViewCont{
    position: relative;
    overflow: auto;
    height: 100%;
}
.threadCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    
    padding: 7px;
}
.threadCont > div {
    margin: 3px;
}

.threadThumbNail{
    width: var(--sizeOfThumbNail);
    height: var(--sizeOfThumbNail);
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: max-content auto;
    overflow: hidden;
    position: relative;
}
.threadThumbNail:hover{
    transform: scale(1.02);
}
.threadTitle{
    background-color: rgba(0, 0, 0, 0.3);
    padding: var(--thumbPadding);
    padding-bottom: 1px;
    overflow: hidden;
    max-height: calc(var(--sizeOfThumbNail)/2);
}
.threadTitleText{
    font-weight: bold;
    color: #e6e7ea;
}
.threadBodyCont{
    margin: var(--thumbPadding);    
    overflow-y: auto;
    overflow-x: hidden;
    color: #e6e7ea;
}
.threadImgCont{
    width: 100%;
    text-align: center;
}
.threadImg{
    border: 1px black solid;
    border-bottom: 5px black solid;
    height: calc(var(--sizeOfThumbNail)*0.6);
    width: auto;
}
.threadMiscInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9rem;
    background-color: rgba(159, 255, 159, 0.4);

    border-top: 1px black solid;
    border-right: 1px black solid;
    padding: 0px 3px;
}

#activeThreadDisplay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    padding-top: 3%;
    z-index: 2;
}

#activeThreadCont{
    width: 80%;
    height: 90%;
    overflow: auto;
}
#activeThreadTitle{
    background-color: rgb(234, 255, 156);
    position: sticky;
    top: 0;
    left: 0;
    padding: 0px 3px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    z-index: 3;
}
.activeThreadContentDisplayer{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 255, 156);
    padding: 3px 3px;
}
.activeThreadBody{
    display: grid;
    grid-template-columns: 20% auto;
}
.messageInfo{
    display: flex;
    justify-content: space-between;
    margin: 0px 7px 3px 7px;
}
.messageInfoRightCont{
    display: flex;
}
.messageInfoRight{
    display: flex;
    text-decoration: underline;
}
.messageOwnerBox{
    border: 1px black solid;
    padding: 0px 4px;
}

.messageOpt{
    margin-left: 3px;
    position: relative;
}
.messageOption{
    text-decoration: none;
}
.expandedOpt{
    border: 1px black solid;
    padding: 3px 5px;

    position: absolute;
    right: 1rem;
    background: white;
    top: 0;
    z-index: 2;
}
.expandedOptHeading{
    text-align: left;
    margin-right: 21px;
}
.expandedOptClose{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.expandedOptClose > div{
    border: 1px black solid;
    width: fit-content;
    margin-bottom: 2px;
    padding: 0px 5px;
}
.expandedOptClose > div:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.messageId{
    margin-right: 7px;
}
.messageTime{

}

.imageContentDisplayer{
    width: 100%;
}
.imageContentDisplayer img{
    width: 100%;
}
.noDisplayImageCont{
    display: none;
}

.textContentDisplayer{
    margin-left: 5px;
    word-break: break-all;
}

/* */
#mainContent{
    height: 98%;
    margin: 1%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
#mainContentDisplayer{
    background-color: rgba(20, 57, 138, 0.527);
    border-top: 1px black solid;
    height: 97%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#menuCont{
    background-color: rgb(101, 99, 122);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border-top: 1px black solid;
    padding: 3px 5px;

    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);

    display: flex;
    justify-content: space-between;
}
#threadSearchInput{
    background-color: transparent;
    border: 0px black solid;
    border-bottom: 1px black solid;
    padding: 0px 3px;
}
#menuCont > div{
    margin-right: 3px;
    display: flex;
    align-items: center
}
#mainContentTabs{
    display: flex;
    justify-content: space-between;
    margin: 0px 3px;
}
#mainContentTabs_left{
    display: flex;
    position: relative;
}
#mainContentTabs_right{
    display: flex;

}
#mainContentTabs_left > div, #mainContentTabs_right > div {
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px black solid;
    border-bottom-width: 0px;
    padding: 0px 7px 0px 7px;
}
#mainContentTabs_left > div:hover, #mainContentTabs_right > div:hover {
    background-color: rgba(0, 128, 0, 0.7);
}
/* */
#GUIcont{
    position: absolute;
    height: 100%;
    width: 100%;
}
#bottomRightGuiCont{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: fit-content;
    z-index: 100;
}
#bottomRightGuiCont div{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 3px;
}
#PageControlGuiCont{
    position: absolute;
    top: -10px;
    background-color: red;
    margin-bottom: 12px;
}
.PageGuiButton{
    height: 1.2rem;
    width: 1.2rem;
    display: grid;
}
#pageUpButton::before{
    position: absolute;
    content: " ";
    width: 100%;
    top: -10px;
    position: absolute;
    border-top: 5px solid transparent;
}

#pageUpButton:hover::before{
    border-top: 5px solid rgb(255, 118, 118);
}
#pageDownButton::before{
    position: absolute;
    content: " ";
    width: 100%;
    bottom: -10px;
    position: absolute;
    border-top: 5px solid transparent;
}

#pageDownButton:hover::before{
    border-top: 5px solid rgb(255, 118, 118);
}


#addMessageButton{
    font-size: 4rem;
    font-weight: bolder;
    width: 70px;
    height: 70px;

    background-color: red;
}

#addMessageButton::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    transition: left 500ms, top 500ms, width 2s, height 2s;
    
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}
#addMessageButton:hover::before{
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 5px solid rgb(255, 118, 118);
    border-left: 5px solid rgb(255, 118, 118);
}
#newPromptCont{
    position: relative;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: grid;
    align-items: center;
    justify-items: center;
}
.newPrompt{
    content: "hello";
    position: absolute;
    width: 50%;
    height: 25%;
    margin-bottom: 20%;

    display: grid;
    grid-template-rows: min-content auto;
}

.promptTitle{
    width: fit-content;
    background-color: white;
    padding: 3px 13px 3px 7px;
}
.promptBody{
    text-align: center;
    background-color: white;
    padding: 5px;
    display: grid;
    justify-items: center;
}
#newThreadPrompt .promptBody{
    grid-template-rows: max-content auto max-content;
}
#newMessagePrompt .promptBody{
    grid-template-rows: auto max-content;
}
.promptBody input{
    width: 95%;
}
.promptBody textarea{
    resize: vertical;
    width: 95%;
}
#promptSubmitCont{
    background-color: white;
    margin-top: 5px;
    
    width: 100%;
}
#promptOptCont{
    display: flex;
    justify-content: center;
}
#promptOptionList{
    display: flex;
    margin-left: 7px;
}
#promptOptionList div{
    margin: 0px 7px;
}
.promptOption{
    height: 1.3rem;
}
.promptOption:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
#image_buttonPlaceHolder{
    white-space: nowrap;;
}
#promptSubmitButtonCont{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}
#promptSubmitButtonCont > div{
    padding: 1px 7px;
    border: 1px black solid;
}
#promptSubmitButtonCont > div:hover{
    background-color: var(--mainShadeTab);
    width: fit-content;
}
#promptSubmit{
    
}
#showBoard{
    position: relative;
}
#boardExpandedCont{
    position: absolute;
    z-index: 1000;
    left: 0px;
}
#uploadedImageIcon{
    height: 1rem;
    width: auto;
    margin-right: 7px;
}
#submitHelpBkg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 150;
    background-color: var(--mainShadeTab);
}
#submitHelp{
    position: absolute;
    top: 0;
    left: 0;

    background-color: green;
    margin: 3px;
    padding: 10px 3px;
    border: 3px black solid;
    z-index: 151;

    text-align: left;

    height: 100%;
    overflow: auto;
}
#submitHelpTopCont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    font-size: 1.1rem;
}
#submitHelpTopCont > div{
    font-weight: bold;
}
#submitHelpTitle{
    text-decoration: underline;
}
#submitHelpClose:hover{
    text-decoration: underline;
}
.help_disclaimer{
    font-size: .9rem;
    font-style: italic;
}

