:root{
    --thumbPerRow: 2;
    --thumbPadding: 3px 7px;
    --mainShadeTab: rgba(0, 0, 0, 0.25);

    --thumbImageBorderBottom: 5px;

    --activeThreadDisplaySize: min(80%,700px);
}

#threadViewEncap{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.threadViewCont{
    position: relative;
    overflow: auto;
    height: 100%;
}
.threadCont{
    display: grid;
    grid-template-columns: repeat(var(--thumbPerRow),1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    
    padding: 9px;
    padding-top: 14px;
    padding-bottom: 21px;
}
.threadCont > div {
    margin: 3px;
}

.threadThumbNail{
    width: 99%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: max-content auto;
    overflow: hidden;
    position: relative;
}
.threadThumbNail:hover{
    transform: scale(1.02);
    border: 2px black solid;
}
.threadTitle{
    background-color: rgba(0, 0, 0, 0.3);
    padding: var(--thumbPadding);
    padding-bottom: 1px;
    overflow: hidden;
}
.threadTitleText{
    font-weight: bold;
    color: #e6e7ea;
}
.threadBodyCont{
    position: relative;
    margin: var(--thumbPadding);    
    overflow-y: auto;
    overflow-x: hidden;
    color: #e6e7ea;
    display: grid;
    grid-template-rows: 0 60% auto;
}
.threadImgCont{
    width: 100%;
    height: calc(-1 * var(--thumbImageBorderBottom) + 100% - 3px);
    text-align: center;
}
.threadImg{
    border: 1px black solid;
    border-bottom: var(--thumbImageBorderBottom) black solid;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
}
.threadMiscInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9rem;
    background-color: rgba(159, 255, 159, 0.4);
    border-top: 1px black solid;
    border-right: 1px black solid;
    padding: 0px 3px;
}
.threadPermCont{
    position: sticky;
    top: 0;
}
.threadPermInfo{
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    padding-top: 3px;

    display: grid;
}

#activeThreadDisplay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    padding-top: 3%;
    z-index: 2;
}
/*
scroll must be set to activeThreadCont and not constraint
constraint. if constraint is set to height 100%, it creates
the problem that clicks will not register as close bc touches
empty space too
*/
#activeThreadCont{
    width: var(--activeThreadDisplaySize);
    height: 90%;
    overflow: auto;
}
#activeThreadTitle{
    background-color: rgb(234, 255, 156);
    position: sticky;
    top: 0;
    left: 0;
    padding: 3px 3px 0px 7px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    z-index: 3;
}
.activeThreadContentDisplayer{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 255, 156);
    padding: 3px 3px;
}
.activeThreadBody{
    display: grid;
    grid-template-columns: 20% auto;
}
.messageInfo{
    display: flex;
    justify-content: space-between;
    margin: 0px 7px 3px 7px;
}
.messageInfoRightCont{
    display: flex;
}
.messageInfoRight{
    display: flex;
    text-decoration: underline;
}
.messageOwnerBoxCont{
    padding-right: 11px;
}
.messageOwnerBox{
    border: 1px black solid;
    padding: 0px 4px;
}

.messageOpt{
    margin-left: 3px;
    position: relative;
}
.messageOption{
    text-decoration: none;
}
.expandedOptCloseController{
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 1;
    top:0;
    left:0;
}
.expandedOpt{
    border: 1px black solid;
    padding: 3px 5px;

    position: absolute;
    right: 1rem;
    background: white;
    top: 0;
    z-index: 3;
}
.expandedOptHeading{
    text-align: left;
    margin-right: 21px;
}
.expandedOptClose{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.expandedOptClose > div{
    border: 1px black solid;
    width: fit-content;
    margin-bottom: 2px;
    padding: 0px 5px;
}
.expandedOptClose > div:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.messageId{
    margin-right: 7px;
}
.messageTime{

}

.imageContentDisplayer{
    width: 100%;
}
.imageContentDisplayer img{
    width: 100%;
}
.noDisplayImageCont{
    display: none;
}

.textContentDisplayer{
    margin-left: 5px;
    margin-right: 5px;
    word-break: break-word;
}
.textContentParagraphSplit{
    margin-bottom: 2px;
}
.textContentColorChange{
    color: rgb(255, 116, 243);
}
.userReferenceTextContent{
    text-decoration: underline;
    color: rgb(40, 40, 255);
}
.userReferenceTextContent:hover{
    color: rgb(117, 39, 212);
}
/* */
#mainContent{
    height: calc(100% - 7px);
    margin-top: 7px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
#mainContentDisplayer{
    background-color: rgba(20, 57, 138, 0.527);
    border-top: 1px black solid;
    height: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#menuCont{
    color: white;

    background-color: rgb(101, 99, 122);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border-top: 1px black solid;
    padding: 3px 5px;

    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);

    display: flex;
    justify-content: space-between;
}
#threadSearchInput{
    background-color: transparent;
    border: 0px black solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    border-radius: 0px;
    outline: none;
    padding: 0px 3px;

    width: 100%;
    color: white;
}

#menuCont > div{
    margin-right: 3px;
    display: flex;
    align-items: center
}
#menuLeftCont{
    justify-content: flex-end;
}
#mainContentTabs{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
#mainContentTabs_left{
    display: flex;
    position: relative;
}
#mainContentTabs_right{
    display: flex;

}
#mainContentTabs_left > div, #mainContentTabs_right > div {
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px black solid;
    border-bottom-width: 0px;
    padding: 0px 7px 0px 7px;
    margin-right: 3px;
}
#mainContentTabs_left > div:hover, #mainContentTabs_right > div:hover {
    background-color: rgba(0, 128, 0, 0.7);
}
/* */
#GUIcont{
    position: absolute;
    height: 100%;
    width: 100%;
}
#bottomRightGuiCont{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: fit-content;
    z-index: 100;
}
#bottomRightGuiCont div{
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 3px;
}
#PageControlGuiCont{
    position: absolute;
    top: -10px;
    background-color: red;
    margin-bottom: 12px;
}
.PageGuiButton{
    height: 1.2rem;
    width: 1.2rem;
    display: grid;
}
#pageUpButton::before{
    position: absolute;
    content: " ";
    width: 100%;
    top: -10px;
    position: absolute;
    border-top: 5px solid transparent;
}

#pageUpButton:hover::before{
    border-top: 5px solid rgb(255, 118, 118);
}
#pageDownButton::before{
    position: absolute;
    content: " ";
    width: 100%;
    bottom: -10px;
    position: absolute;
    border-top: 5px solid transparent;
}

#pageDownButton:hover::before{
    border-top: 5px solid rgb(255, 118, 118);
}


#addMessageButton{
    font-size: 4rem;
    font-weight: bolder;
    width: 80px;
    height: 80px;

    background-color: red;
}

#addMessageButton::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    transition: left 500ms, top 500ms, width 2s, height 2s;
    
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
}
#addMessageButton:hover::before{
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-top: 5px solid rgb(255, 118, 118);
    border-left: 5px solid rgb(255, 118, 118);
}
#newPromptCont{
    position: relative;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: grid;
    align-items: end;
    justify-items: center;
}
.newPrompt{
    content: "hello";
    position: absolute;
    width: calc(var(--activeThreadDisplaySize) + 6%);
    height: 50%;
    margin-bottom: 2%;

    display: grid;
    grid-template-rows: min-content auto;
}

.promptTitle{
    width: fit-content;
    background-color: white;
    padding: 3px 13px 3px 7px;
}
.promptBody{
    text-align: center;
    background-color: white;
    padding: 5px;
    display: grid;
    justify-items: center;
}
#newThreadPrompt .promptBody{
    grid-template-rows: max-content auto max-content;
}
#newMessagePrompt .promptBody{
    grid-template-rows: auto max-content;
}
.promptBody input, textarea{
    border: 0px;
    border-bottom: 2px black solid;
    background-color: #80808027;
    font-family: sans-serif;
    border-radius: 0px;
}
.promptBody input:focus, textarea:focus{
    outline: none;
    outline: 1px black solid;
}
.promptBody input{
    width: 98%;
    margin-bottom: 3px;
    
}
.promptBody textarea{
    resize: vertical;
    width: 98%;
}
#promptSubmitCont{
    background-color: white;
    margin-top: 5px;
    
    width: 100%;
}
#promptOptCont{
    display: flex;
    justify-content: center;
}
#promptOptionList{
    display: flex;
    margin-left: 7px;
}
#promptOptionList div{
    margin: 0px 7px;
}
.promptOption{
    height: 1.3rem;
}
.promptOption:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
#image_buttonPlaceHolder{
    white-space: nowrap;;
}
#promptSubmitButtonCont{
    display: flex;
    justify-content: flex-end;
    margin: 3px;
}
#promptSubmitButtonCont > div{
    padding: 1px 7px;
    border: 1px black solid;
}
#promptSubmitButtonCont > div:hover{
    background-color: var(--mainShadeTab);
    width: fit-content;
}
#showBoard{
    position: relative;
}
#boardExpandedCont{
    position: absolute;
    z-index: 1000;
    left: 0px;
}
#uploadedImageIcon{
    height: 1rem;
    width: auto;
    margin-right: 7px;
}


@media screen and (max-width: 768px){
    .newPrompt{
        width: 95%;
    }    
    input, textarea{
        font-size: 1.1rem;
    }
    #threadSearchInput{
        width: 60%;
    }
}
