#moderatePromptCont{
    position: fixed;
    z-index: 1100;
    left: 0;
    top:0;
    
    display: grid;
    align-items: center;
    justify-content: center;


    background-color: rgba(0, 0, 0, 0.1);

    height: 100vh;
    height: 100dvh;
    width: 100vw;

}
#moderatePrompt{
    border: 1px black solid;
    background-color: white;

    width: 90vw;
    height: 90vh;
    height: 90dvh;

    display: grid;
}
#moderatePromptConstraint{
    height: inherit;
    display: grid;
    grid-auto-rows: 25% 50% 25%;
}

#siteStats{
    display: flex;
    padding: 3px;
}
#moderatePosts{
    padding: 3px;
}
#moderateUsers{
    padding: 3px;
    padding-bottom: 10px;
}
/* Stats*/
.statBox{
    border: 1px black solid;
    width: 100%;
    height: 100%;
    margin: 0px 3px;
}
.statsTableCont{
    width: 100%;
    height: 92%;
    border: 1px black solid;
    overflow: auto;
}
.statsTable{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3px 10px;
}
.statsTableItem{
    border-bottom: 1px black solid;
    margin: 3px 11px;
}
.statsTableContent{
    display: grid;
    grid-template-columns: auto 40%;
}
.statsTableImgConstraint{
    width: 100%;
}
.statsTableImg{
    width: 100%;
}
.statTime{
    text-align: right;
}
.statOptionButtonConstraint{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}
.statOptionButtonCont{
    display: flex;
}
.statOptionButton{
    border: 1px black solid;
    margin: 0px 3px;
    padding: 1px 3px;

}
.statOptionButton:hover{
    background-color: rgb(0, 0, 0,.1);
}
.moderateBox{
    margin-bottom: 3px;
}
.moderatePaddingBox{
    padding: 3px;
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
    align-items: center;

    border: 1px black solid
}
.moderateHeader{
    font-size: 1.1rem;
    font-weight: bold;
}
